body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6d3;
    text-align: center;
}

header {
    background: #ffffff;
    color: rgb(59, 45, 45);
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.seguros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.seguro {
    background: rgba(255, 255, 255, 0.507);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.seguro img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: #004080;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}
img {
    border-radius: 10px; /* Controla o grau de arredondamento */
}

.separator {
    border-top: 20px solid #ffffff;  /* Linha separadora de 2px, cor cinza */
    margin: 20px 0;              /* Espaçamento superior e inferior */
}

